/*
| HEX     | Uso                        |
| ------- | -------------------------- |
| #DCCAB4 | Cor de Fundo Body          |
| #F0DFCD | Cor do conteudo body       |
| #352115 | Cor fundo, destaque, cabec |
| #B69A79 | título principal           |

*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat:wght@500;600&family=Playfair+Display:ital,wght@1,400&display=swap');

body {
    background-color: #DCCAB4;
    margin: 0; /*Remove a margem padrão do navegador*/
    padding: 0; /*Remove o preenchimento padrão do navegador*/
}


/* HEADER */
header {
    background-color: #352115;
    width: 100%; /*HEADER ocupar toda tela e encostar na borda da tela*/
    padding: 10px 0px; /* Espaçamento em cima/baixo (10px) e lados (0) */
}
.header-title {
    color: #B69A79;
    font-family: "Cinzel", sans-serif; /*Fonte externa*/
    padding: 1px 10px; /* Espaçamento em cima/baixo (1px) e lados (10px) */
}
.header-nav {
    text-align: right;  /* links do menu para o lado direito */
    margin-bottom: 15px; /* Cria um espaço na parte inferior do menu */
}
.header-nav a {
    color: #B69A79;
    font-family: sans-serif;
    font-size: 0.80rem; /*Tamanho da letra (menor)*/
    text-decoration: none; /*Remove o sublinhado padrão dos links*/
    margin: 16px; /*Espaçamento entre os links*/
}


/* MAIN */
main {
    background-color: #F0DFCD;
    padding: 10px 20px; /* Espaçamento em cima/baixo (10px) e lados (20px) */
    margin: 20px 30px; /*Distância entre o bloco e as bordas da tela*/
    border-radius: 10px 10px; /*Borda arredondada*/
    text-align: justify; /*alinhas todos os textos conforme as margens*/
}
main h2 {
    text-align: center;
}
.grid-container {
    display: grid; /* Ativa o modo de grade em toda MAIN */
    grid-template-columns: 1fr 1fr; /*2 colunas por fileira com o mesmo tamanho exato (1 fração cada)*/
    gap: 50px /*espaçamento entre as grades*/
}
.tabela {
    grid-column: span 2; /*Tabela ocupa 2 grades na linha*/
}
.tabela th {
    background-color: #352115;
    color: #F0DFCD;
    text-align: center;
}
.imagem {
    text-align: center;    
    margin: 10px; /*Espaçamento em volta da imagem*/
}


/* FOOTER */
footer {
    text-align: center;
    background-color: #352115;
    display: grid; /* Ativa o modo de grade em toda FOOTER */
    grid-template-columns: 1fr 1fr; /*2 colunas por fileira com o mesmo tamanho exato (1 fração cada)*/
    gap: 50px /*espaçamento entre as grades*/
}
.feedback h3{
    color: #B69A79;
    font-family: "Cinzel", sans-serif;
    margin: 0;
}
.feedback h4 {
    color: #B69A79;
    font-family: "Cinzel", sans-serif; /*Fonte externa*/
    margin: 0 0 20px; /* Zera margens em cima/lados, mas empurra 20px para baixo */
}
.feedback form{
    color: #B69A79;
}
.alunos {
    color: white;
}